<h1> <%= @user.displayname %>'s Profile </h1> 

<div id="right"> 
	<%= image_tag(current_user.avatar.url(:medium)) %>
	<div id="stats">
		<p> You are following <%= @user.follows.count %> poets </p> 
		<p> <%= @user.followings.count %> poets are following you </p> 
	</div>
	<%= render('shared/avatar') %> 
</div>

<h3> <%= @user.posts.count %> Published Poems </h3> 

<%= link_to('Add New Poem', new_post_path, :class => "btn btn-default") %>

<p> 
	<%= render(@user.posts) %>
</p> 
