<h1> <%= @user.displayname %>'s Profile </h1> 

<div id="right"> 
	<%= image_tag(@user.avatar.url(:medium)) %>
	<div id="stats">
		<% if @user == current_user %>
		<p> You are following <%= @user.follows.count %> poets </p> 
		<p> <%= @user.followings.count %> poets are following you </p> 

		<% else %> 

		<p> <%= @user.displayname %> is following <%= @user.follows.count %> poets </p> 
		<p> <%= @user.followings.count %> poets are following <%= @user.displayname %> </p> 

		<% end %> 
	</div>

<% if @user == current_user %>
<%= render('shared/avatar') %>
	<% end %> 


</div>

<div> 
	<% if @user.posts.count == 0 %>
	  <p> <%= "Aww.. it looks like this poet hasn't published any poems yet."  %> </p> 
	<% else %>
	  <h3> <%= @user.posts.count %> Published Poems </h3> 
	<% end %>
</div> 

<p> 
	<% if @user == current_user %>
	<%= link_to('Add New Poem', new_post_path, :class => "btn btn-default") %>
	<% end %> 
</p> 

</br> 

<%= render(@user.posts) %>
