<div id = "title"> 
	<h1> All Poems </h1> 
</div> 
<div id="search-bar"> 
	<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search" %>
	<%= submit_tag "Search", :class => "btn btn-default" %>
	<% end %>
</div> 

<%= render('indextoggle') %> 

<div id="main"> 
	<% if @posts.present? %>
	  <%= render @posts %>
	<% else %>
	  <p>There are no poems or poets containing the term(s) <%= params[:search] %>.</p>
	<% end %>
</div> 
