<h1><%= @post.title %></h1>
<p><%= simple_format(@post.text) %></p>

<p> By: <%= @post.user.displayname %> </p> 
<p> 
<% if current_user.liked?(@post) %>
<button type="button" class="btn btn-default">
<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
		<%= link_to('Un-Heart', unheart_post_path(@post), method: :put) %>
	</button> 
      <% else %>
      <button type="button" class="btn btn-default">
      	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <%= link_to('Heart', heart_post_path(@post), method: :put) %>
        	</button> 
      <% end %> 
</p> 
<p> This poem has <%= @post.get_upvotes.size %> hearts! </p> 
<p> 
<% if @post.user == current_user %>
		<%= edit_post_link(@post) %>
		<%= link_to('Delete', @post, method: :delete, :class => "btn btn-default") %>
	<% end %> 
</p> 
<p> 
<%= link_to "Back", :back %>
</p> 

